
p,li,a{color: aquamarine;}
BODY{background-image:Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),

    Linear-gradient(127deg, black, black 70.71%),
    
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    background-repeat:no-repeat;
    background-size:cover
    }
    
/* .avengers{display: flex;
    justify-content: center;} */
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .LOL{display:flex;
        flex-direction: row;
        justify-content: space-around;
  }
  .CONTACT{background-image:url(https://iyadhkhalfallah.github.io/checkpointsGMC/res/webdev3.png);
    background-repeat:no-repeat;
    height: 300px;
    justify-content: center;
    align-items: center;
    
    }
    .nav-link{color:white!important;
        font-weight: bold;

}
.nav-link:hover{color: red!important;}

.navbar-nav{display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}